#about{
    margin-right:100px;
}

#us{
    margin-right: 90px;
}



.card1{
    margin-left: 850px;
    margin-top: -200px;
}

.para1{
    margin-left: 700px;
}

.subp{
    margin-right: -700px;
    margin-left: 500px;
}

.card2{
    margin-top: -290px;
}

.card3{
    margin-left: 700px;
    margin-top: -400px;
}
