.card1{
    margin-left: 850px;
    margin-top: -200px;
}

.para1{
    margin-left: 700px;
}

.subp{
    margin-right: -700px;
}

.card2{
    margin-top: -200px;
}

.card3{
    margin-left: 700px;
    margin-top: -200px;
}

.lande::before{
    content: "";
    position: absolute;
    border-radius: 10%;
    width: 250px;
    height: 250px;
    left: 17%;
    top:36%;
    background-color:#0059ff;
    filter: blur(8px);
}

/*.lande::after {
    content: "";
    position: absolute;
    width: 120px; 
    height: 120px; 
    left: 30%; 
    top: 65%; 
    background-color: #0059ff; 
    filter: blur(2px); 
}*/

.lande.variation::before {
    content: "";
    position: absolute;
    border-radius: 10%;
    width: 120px;
    height: 120px;
    left: 5%;
    top: 20%;
    background-color: #00b3ff;
    filter: blur(4px);
}

.lande.variation::after {
    content: "";
    position: absolute;
    border-radius: 10%;
    width: 120px; 
    height: 120px; 
    left: 86%; 
    top: 20%; 
    background-color: #00b3ff; 
    filter: blur(4px); 
}
.lande.lande.var2::before {
    content: "";
    position: absolute;
    border-radius: 10%;

    width: 100px; 
    height: 100px; 
    left: 15%; 
    top: 78%; 
    background-color: #00b3ff; 
    filter: blur(4px); 
}

.lande.lande.var3::before {
    content: "";
    position: absolute;
    border-radius: 10%;
    width: 180px;
    height: 180px;
    left: 74%;
    top: 41%;
    background-color: #0059ff;
    filter: blur(8px);
}

.lande.lande.var4::before {
    content: "";
    position: absolute;
    border-radius: 10%;
    width: 70px;
    height: 70px;
    left: 45%;
    top: 70%;
    background-color: #00b3ff;
    filter: blur(4px);
}

.lande.lande.var4::after {
    content: "";
    position: absolute;
    border-radius: 10%;
    width: 90px;
    height: 90px;
    left: 52%;
    top: 20%;
    background-color: #00b3ff;
    filter: blur(4px);
}







.lande::after{
    content: "";
    position: absolute;
    border-radius: 10%;
    width: 85px;
    height: 85px;
    left: 80%;
    top:75%;
    background-color:#00b3ff;
    filter: blur(4px);
}

/*.lande2::before{
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    left: 40%;
    top:36%;
    background-color: #0059ff;
    filter: blur(5px);
}
*/